
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import '~startbootstrap-resume/css/resume.css';
@import '~flag-icon-css/sass/flag-icon';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "particles";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-header{
  border-bottom: 0!important;
  background-color: rgba(0, 0, 0, 0.09)!important;
}

.thickHr{
  border-top-width: 4px !important;
  border-top-color: rgba(0, 0, 0, 0.12)!important;
}



//when on tablet or pc
@media (min-width: 922px){
  .spaceTop{
    margin-top: 100px;
  }
  .nav-footerlink{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 16px;
  }
  .nav-footerborder{
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    border-right: none;
    border-left: none;
    border-bottom: none;
  }
  .large-show{
    display: block;
  }
  .navbarAdmin{
    position: relative!important;
  }
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
  }
  .dropdown-toggle{
    margin-bottom: 10px;
  }
  .dropdown-menu{
    margin-top: -15px;
  }
}
//when on mobile
@media (max-width: 922px){
  .topSpacer{
    //z-index: 1031;
  }
  .large-show{
    display: none;
  }
  .navbarAdmin{
    position: fixed!important;
    z-index: 1029;
    background-color: $primary;
    width: 100%;
  }
  .navbar-nav .dropdown-menu{
    position: absolute!important;
    width: 100%;
  }
}

