
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import '~startbootstrap-resume/css/resume.css';
@import '~flag-icon-css/sass/flag-icon';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "particles";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-header{
  border-bottom: 0!important;
  background-color: rgba(0, 0, 0, 0.09)!important;
}

.thickHr{
  border-top-width: 4px !important;
  border-top-color: rgba(0, 0, 0, 0.12)!important;
}



//when on tablet or pc
@media (min-width: 922px){

}
//when on mobile
@media (max-width: 922px){
  .topSpacer{
    //z-index: 1031;
  }
}

